:root {
  --dark-violet:#2d2640;
  --grayish-blue:#95a9c6;
  --very-dark-violet:#2b272f;
  --dark-gray-violet: #837d87;
  --very-light-violet: #fafafa;
  --gray:#a9a9a9;
  --white:white;
  --lightgray:#f8f8f8;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-violet);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: white;
  padding: 2rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  nav .nav_toggle {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 1.5rem 3rem;
    position: relative;
    background-color: var(--lightgray);
  }
  nav ul {
    display: none !important;
    position: absolute;
    bottom: -250%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 1rem 0;
  }
  nav ul li a {
    color: var(--white) !important;
  }
  nav ul li .plans {
    border: 2px solid var(--white) !important;
    color: var(--white) !important;
  }
  nav .nav_open {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: var(--dark-violet);
    padding: 2rem 0;
    bottom: -280%;
  }
}

nav .nav_toggle {
  font-size: 2.5rem;
  border: none;
  color: none;
  padding: 0 .6rem;
  border: 2px solid black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav .nav_toggle:hover {
  cursor: pointer;
  background-color: var(--gray);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 .6rem;
  color: var(--gray);
  padding: .5rem 1.5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav ul li a:hover {
  color: black;
}

nav ul li .plans {
  border: 2px solid black;
  color: black;
}

nav ul li .plans:hover {
  background-color: black;
  color: var(--white);
}

.span {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 20rem;
  background-color: var(--gray);
}

.container {
  padding: 0 15rem;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0;
  }
}

.cover {
  position: relative;
}

@media screen and (max-width: 719px) {
  .cover {
    background-color: var(--dark-violet);
  }
}

.cover .pattern {
  position: absolute;
}

.cover .left {
  left: -5%;
  margin-top: 20rem;
}

.cover .right {
  top: 0;
  width: 30rem;
  right: 0;
}

@media screen and (max-width: 920px) {
  .cover {
    padding: 2rem;
  }
}

@media screen and (max-width: 719px) {
  .cover {
    padding: 0 !important;
  }
  .cover .cover_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cover .message {
    text-align: center;
    padding: 5rem !important;
    position: relative;
  }
  .cover .message h1 {
    font-size: 3rem !important;
  }
  .cover .message p {
    font-size: 2rem !important;
  }
  .cover .message span {
    display: none !important;
  }
  .cover .message .pattern_mobile {
    position: absolute;
  }
  .cover .message .mobile_left {
    top: 0;
    left: 0;
    width: 12rem;
  }
  .cover .message .mobile_right {
    bottom: -40%;
    right: 0;
    width: 10rem;
  }
  .cover .intro {
    width: 100%;
    margin: 0;
  }
  .cover .left {
    display: none;
  }
  .cover .right {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .cover {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(68%, var(--dark-violet)), color-stop(22%, #ffffff));
    background: linear-gradient(180deg, var(--dark-violet) 68%, #ffffff 22%);
    padding-top: 7rem;
  }
  .cover .pattern_mobile {
    display: none;
  }
  .cover .cover_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .cover_container .intro {
    width: 35rem;
  }
  .cover .cover_container .message {
    position: relative;
    padding-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7rem 0;
  }
  .cover .cover_container .message span {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 20rem;
    background-color: var(--white);
  }
}

.cover .message {
  padding-right: 3rem;
}

.cover .message h1 {
  font-size: 5rem;
  color: var(--white);
}

.cover .message p {
  color: var(--white);
  font-size: 2rem;
  margin: 3rem 0;
}

.cover .message a {
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 2rem;
  padding: .5rem 1rem;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cover .message a:hover {
  background-color: black;
  border: 2px solid black;
}

@media screen and (max-width: 880px) {
  .different {
    padding: 2rem;
  }
}

.different h2 {
  font-size: 5rem;
  color: black;
  margin: 3rem 0;
}

@media screen and (max-width: 520px) {
  .different h2 {
    text-align: center !important;
  }
}

.different .container_different {
  position: relative;
}

@media screen and (max-width: 520px) {
  .different .container_different {
    padding: 1rem;
  }
}

.different .container_different span {
  width: 10rem;
  left: 12%;
  top: -18%;
  color: var(--gray);
}

@media screen and (max-width: 520px) {
  .different .container_different span {
    display: none;
  }
}

.different .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 520px) {
  .different .cards {
    text-align: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.different .cards .card {
  margin: 1rem;
  padding: 1rem  0;
}

.different .cards .card img {
  width: 6rem;
}

.different .cards .card h3 {
  margin: 1.5rem 0;
  font-size: 2.2rem;
}

.different .cards .card p {
  font-size: 1.7rem;
  color: var(--gray);
}

.findout {
  margin: 10rem 0;
}

.findout div {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--dark-violet);
  background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-origin: padding-box;
  margin: 2rem;
  padding: 3rem;
}

@media screen and (max-width: 721px) {
  .findout div {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem;
    padding: 3rem;
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg") !important;
  }
  .findout div h2 {
    margin: 3rem 0;
    font-size: 2rem;
    width: 100% !important;
  }
}

.findout div h2 {
  font-size: 4rem;
  width: 50%;
  color: var(--white);
}

.findout div a {
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 2rem;
  padding: .5rem 1rem;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.findout div a:hover {
  background-color: black;
  border: 2px solid black;
}

.footer {
  background-color: var(--lightgray);
  background-image: url("./images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-origin: padding-box;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 2rem;
    background-position: top !important;
  }
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

@media screen and (max-width: 900px) {
  .footer .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .social img {
    margin: 2rem 0 !important;
  }
  .footer .social i {
    margin: 1.5rem !important;
  }
}

.footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social li {
  list-style: none;
}

.footer .social li i {
  font-size: 2.5rem;
  margin: 0 .5rem;
  color: var(--gray);
}

.footer hr {
  height: 3px;
  background-color: var(--gray);
  margin: 3rem 0;
}

.footer .links {
  padding-bottom: 4rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer .links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .footer .links div {
    margin-top: 2rem;
  }
}

.footer .links div h3 {
  font-size: 2rem;
  color: var(--gray);
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .footer .links div h3 {
    margin: 3rem 0 !important;
  }
}

.footer .links div a {
  font-size: 2rem;
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: .5rem 0;
}

.footer .links div a:hover {
  text-decoration: underline;
}
